@import "./partials/_resets.scss";
@import "./partials/_colori.scss";
@import "./partials/_keyframes.scss";
@import "./partials/_font.scss";

nav {
  font-family: $font-nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-purple-color;
  color: $testo-color;
  height: 70px;
  padding: 0 50px;

  .logo {
    img {
      height: 50px;
      background-color: white;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      margin: 0 20px;

      a {
        color: $testo-color;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
      }

      &:hover {
        a {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
.hero {
  background-color: $bg-purple-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: relative;
  height: 400px;

  .headline,
  .hero_image {
    animation: fade-in 2.5s ease-in-out;
  }

  .headline {
    font-family: $font-family-tot;
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 100px 50px;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;

    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    .buttons {
      display: flex;
      justify-content: center;

      button {
        border-radius: 30px;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 15px;
        margin-right: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        &.button-1 {
          background-color: $bt-blu-color;
          color: $testo-color;
          border: 3px solid darken($bt-blu-color, 30%);

          &:hover {
            background-color: white;
            color: darken($bt-blu-color, 30%);
            cursor: pointer;
          }
        }

        &.button-2 {
          background-color: $bt-orange-color;
          color: $testo-color;
          border: 3px solid darken($bt-orange-color, 30%);

          &:hover {
            background-color: white;
            color: darken($bt-orange-color, 30%);
            cursor: pointer;
          }
        }

        &.button-3 {
          background-color: $bt-green-color;
          color: $testo-color;
          border: 3px solid darken($bt-green-color, 30%);

          &:hover {
            background-color: white;
            color: darken($bt-green-color, 30%);
            cursor: pointer;
          }
        }
      }
    }
  }
  &_image {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.griglia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;

  &_elem {
    width: calc(20% - 20px);
    margin-block: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 14px 18px rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
